# docker-compose.yml
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: echame
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: echameunapata_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: